.products-slider {
    border-radius: 0.6rem;
    padding: 0px 20px;
    box-sizing: border-box;
}

.slider-heading h3 {
    font-size: 1.75rem;
    color: #1d1d1f;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 34px;
}

.slider-heading h3 span {
    color: #6e6e73;
}

.product-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.08);
    transition: all ease 0.3s;
    overflow: hidden;
}

.product-box:hover {
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.10);
    transform: scale(1.008);
    transition: all 0.3s ease;
}

.product-box strong {
    color: #29292c;
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 24px;
}

.product-box img {
    width: 210px;
    height: 250px;
    padding: 20px 0px;
    object-fit: contain;
    object-position: center;
    margin: 20px auto;
}

.available-colors {
    display: flex;
    justify-content: center;
    align-items: center;
}

.available-colors .product-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 2px 2px 30px rgba(0, 0, 0, 0.03);
    margin: 3px;
}

.buy-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 0px 0px;
}

.buy-price p {
    color: #6e6e73;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    max-width: 250px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-box a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.lSPager {
    display: none;
}

.lSAction>.lSPrev, .lSAction>.lSNext {
    background-position-y: -2px !important;
    background-position-x: 0px !important;
}

.lSAction>.lSNext {
    background-position-x: 29px !important;
}

.lSAction>a {
    background-color: #00000033;
    width: 29px !important;
    height: 28px !important;
    border-radius: 50%;
    opacity: 0.8;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-products {
    height: 530px;
    position: relative;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
}

.explore-products strong {
    z-index: 2;
}

.explore-img {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.explore-img img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
    margin: 0px;
    padding: 0px;
}

/*making-responsive-css-------*/
@media(max-width:600px) {
    .slider-heading h3 {
        font-size: 21px;
    }

    .product-box {
        width: 310px;
        margin: 10px;
        box-sizing: border-box;
    }

    .explore-products {
        height: 427px;
    }

    .product-box img {
        height: 190px;
        width: 160px;
        padding: 0px;
    }

    .product-box strong {
        font-size: 21px;
    }


    .lSAction>a {
        display: none;
    }

    .products-slider {
        padding: 0px;
    }
}

@media(max-width:400px) {
    .product-box {
        width: 280px;
    }

    .buy-btn {
        font-size: 0.8rem;
    }
}

@media(max-width:324px) {
    .product-box {
        width: 225px;
    }

    .product-box img {
        width: 140px;
        height: 165px;
    }

    .explore-products {
        height: 445px;
    }

    .buy-price {
        flex-direction: column;
    }

    .buy-price .buy-btn {
        width: 100%;
    }
}




/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
.lSSlideWrapper,.lSSlideWrapper .lSFade {
    position: relative
}

.lSSlideWrapper .lSSlide,.lSSlideWrapper.usingCss .lSFade>* {
    -webkit-transition-timing-function: inherit!important;
    transition-timing-function: inherit!important;
    -webkit-transition-duration: inherit!important;
    transition-duration: inherit!important
}

.lSSlideOuter,.lSSlideOuter .lSPager.lSGallery {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none
}

.lSSlideOuter .lSPager.lSGallery:after,.lSSlideWrapper>.lightSlider:after {
    clear: both
}

.lSSlideOuter {
    overflow: hidden;
    user-select: none
}

.lightSlider:after,.lightSlider:before {
    content: " ";
    display: table
}

.lightSlider {
    overflow: hidden;
    margin: 0
}

.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden
}

.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height
}

.lSSlideWrapper .lSFade>* {
    position: absolute!important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%
}

.lSSlideWrapper.usingCss .lSFade>* {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-property: opacity;
    transition-property: opacity
}

.lSSlideWrapper .lSFade>.active {
    z-index: 10
}

.lSSlideWrapper.usingCss .lSFade>.active {
    opacity: 1
}

.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center
}

.lSSlideOuter .lSPager.lSpg>li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px
}

.lSSlideOuter .lSPager.lSpg>li a {
    background-color: #222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all .5s linear 0s;
    transition: all .5s linear 0s
}

.lSSlideOuter .lSPager.lSpg>li.active a,.lSSlideOuter .lSPager.lSpg>li:hover a {
    background-color: #428bca
}

.lSSlideOuter .media {
    opacity: .8
}

.lSSlideOuter .media.active {
    opacity: 1
}

.lSSlideOuter .lSPager.lSGallery {
    list-style: none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    user-select: none
}

.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius .12s linear 0s .35s linear 0s;
    transition: border-radius .12s linear 0s .35s linear 0s
}

.lSSlideOuter .lSPager.lSGallery li.active,.lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px
}

.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%
}

.lSSlideOuter .lSPager.lSGallery:after,.lSSlideOuter .lSPager.lSGallery:before {
    content: " ";
    display: table
}

.lSAction>a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: url(../images/controls.png);
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: .5;
    -webkit-transition: opacity .35s linear 0s;
    transition: opacity .35s linear 0s
}

.lSAction>a:hover {
    opacity: 1
}

.lSAction>.lSPrev {
    background-position: 0 0;
    left: 10px
}

.lSAction>.lSNext {
    background-position: -32px 0;
    right: 10px
}

.lSAction>a.disabled {
    pointer-events: none
}

.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden
}

.lSSlideOuter.vertical {
    position: relative
}

.lSSlideOuter.vertical.noPager {
    padding-right: 0!important
}

.lSSlideOuter.vertical .lSGallery {
    position: absolute!important;
    right: 0;
    top: 0
}

.lSSlideOuter.vertical .lightSlider>* {
    width: 100%!important;
    max-width: none!important
}

.lSSlideOuter.vertical .lSAction>a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0
}

.lSSlideOuter.vertical .lSAction>.lSNext {
    bottom: 10px;
    top: auto
}

.lSSlideOuter.vertical .lSAction>.lSPrev {
    bottom: auto;
    top: 10px
}

.lSSlideOuter.lSrtl {
    direction: rtl
}

.lSSlideOuter .lSPager,.lSSlideOuter .lightSlider {
    padding-left: 0;
    list-style:none;
}

.lSSlideOuter.lSrtl .lSPager,.lSSlideOuter.lSrtl .lightSlider {
    padding-right: 0
}

.lSSlideOuter .lSGallery li,.lSSlideOuter .lightSlider>* {
    float: left
}

.lSSlideOuter.lSrtl .lSGallery li,.lSSlideOuter.lSrtl .lightSlider>* {
    float: right!important
}

@-webkit-keyframes rightEnd {
    0%,100% {
        left: 0
    }

    50% {
        left: -15px
    }
}

@keyframes rightEnd {
    0%,100% {
        left: 0
    }

    50% {
        left: -15px
    }
}

@-webkit-keyframes topEnd {
    0%,100% {
        top: 0
    }

    50% {
        top: -15px
    }
}

@keyframes topEnd {
    0%,100% {
        top: 0
    }

    50% {
        top: -15px
    }
}

@-webkit-keyframes leftEnd {
    0%,100% {
        left: 0
    }

    50% {
        left: 15px
    }
}

@keyframes leftEnd {
    0%,100% {
        left: 0
    }

    50% {
        left: 15px
    }
}

@-webkit-keyframes bottomEnd {
    0%,100% {
        bottom: 0
    }

    50% {
        bottom: -15px
    }
}

@keyframes bottomEnd {
    0%,100% {
        bottom: 0
    }

    50% {
        bottom: -15px
    }
}

.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd .3s;
    animation: rightEnd .3s;
    position: relative
}

.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd .3s;
    animation: leftEnd .3s;
    position: relative
}

.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd .3s;
    animation: topEnd .3s;
    position: relative
}

.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd .3s;
    animation: bottomEnd .3s;
    position: relative
}

.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd .3s;
    animation: leftEnd .3s;
    position: relative
}

.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd .3s;
    animation: rightEnd .3s;
    position: relative
}

.lightSlider.lsGrab>* {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab
}

.lightSlider.lsGrabbing>* {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing
}